# vi files
*~
.*.swp

# eclipse files
/.build
/.includepath
/.project
/.externalToolBuilders

# build files
blib/
Makefile
MYMETA.yml
pm_to_blib
/MYMETA.json
/PowerShell*.tar.gz
/PowerShell*
/*.html
/*.tmp
